{% extends 'base.html' %}
{% load filtros %}
{% block title %}Todos Cadastros{% endblock title %}
{% block barra_titulo %}
<style>
  
</style>
<div class="row align-items-center justify-content-content-between ">
  <div class="col-3 ">
    <h5 class="card-title ">Lista de Cadastros</h5>
    <h6 class="card-title mt-1">Total: {{total_cadastros}}</h6>

  </div>
  <div class="col d-flex align-items-center justify-content-end">
    {%if request.path != "/cadastros/lista/" %}
    <a href="{% url 'listar_cadastros' %}" type="button" class="btn btn-outline-secondary " id="lista-completa-cad"><i
        class="bi bi-list align-middle" style="font-size: 1.25rem;"></i><span class="align-middle mx-1">Lista
        Completa</span></a>
    {%endif%}
    <div class="mx-1 ">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">


        </div>
      </nav>

    </div>
    <div class="ms-2">
      <a href="{% url 'adicionar_cadastro' %}" type="button"  class="btn btn-outline-secondary "><i
          class="bi bi-plus-circle align-middle" style="font-size: 1.25rem;"></i><span
          class="align-middle mx-1">Adicionar</span></a>

    </div>
  </div>
</div>
<hr>

<form class="d-flex row  align-items-center justify-content-center gy-2 gy-sm-1 gy-md-0 gy-lg-1 gy-xl-1 gy-xxl-0 py-0  " method="post">
  {% csrf_token %}

  <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2 col-12">

    <div class="form-floating  ">
      <select class="form-select rounded" aria-label="Default select example"
        name="cras">
        <option selected>-------</option>
        <option {%if cras == '1' %} selected  {%endif%}value="1">CRAS I</option>
        <option {%if cras == '2' %} selected  {%endif%} value="2">CRAS II</option>
        <option {%if cras == '3' %} selected  {%endif%} value="3">CRAS III</option>
      </select>
      <label for="floatingSelect" >Abrangência</label>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-12">

    <div class="form-floating ">
      <select class="form-select rounded" aria-label="Default select example"
        name="ruc">
        <option selected>-------</option>
        <option {%if ruc == '1' %} selected  {%endif%} value="1">Nenhum</option>
        <option {%if ruc == '2' %} selected  {%endif%} value="2">Água Azul</option>
        <option {%if ruc == '3' %} selected  {%endif%} value="3">Jatobá</option>
        <option {%if ruc == '4' %} selected  {%endif%} value="4">São Joaquim</option>
        <option {%if ruc == '5' %} selected  {%endif%} value="5">Casa Nova</option>
        <option {%if ruc == '6' %} selected  {%endif%} value="6">Laranjeiras</option>
      </select>
      <label for="floatingSelect">Ruc</label>
    </div>
  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-12">
    <div class="form-floating">

      <input class="form-control   rounded " list="datalistOptions" id="bairroDataList" placeholder="Buscar por Bairro"
         autocomplete="off" name="bairro" {%if bairro_busca %} value="{{bairro_busca}}" {%endif%}>
      <label for="floatingSelect">Bairro</label>
      <datalist id="datalistOptions">
        {% for bairro in lista_bairros %}
        <option {%if bairro_busca == bairro %} {%endif%} value="{{bairro}}">

          {%endfor%}
      </datalist>

    </div>
  </div>
  
  <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-12">
    <div class="input-group">
      <div class="form-floating ">
        <input class="form-control rounded " value="{{busca}}" id="busca" name="busca" type="search" placeholder="Nome ou CPF" aria-label="Search">
        <label for="floatingInput">Nome ou CPF</label>
    </div>
  <button class="btn btn-outline-primary mx-2 rounded" type="submit" id="button-busca"><i
          class="bi bi-search mx-1"></i>Buscar</button>

</div>
    <div class="input-group">

    </div>

    </div>
</form>
<div class="row row-cols-auto mt-2 gy-2 gx-0 justify-content-center">
  <div class="col">
    <a class="btn  btn-secondary btn-sm mx-1" href="{% url 'listar_cadastros'%}">Todos</a>
  </div>
  {%for letra, argumento in alfabeto.items%}
  <div class="col">
    <a class="btn {%if argumento in request.path %} btn-dark {%else%} btn-secondary{%endif%} btn-sm mx-1"
      href="{% url 'listar_cadastros' argumento%}">{{letra}}</a>
  </div>
  {%endfor%}
</div>



{% endblock barra_titulo %}
{% block main %}
{% include 'mensagens/sucesso.html' %}
<hr class="mt-0 pt-0">
<div class="list-group py-1">
  {% for cadastro in page_obj %}
  <div class="card list-group-item my-2 border" aria-current="true">
    <div class="d-flex w-100 justify-content-between ">

      <h5 class="mb-1">{{cadastro.responsavel.nome}}</h5>

      <div class="d-flex flex-column align-items-end">
        <small class="text-secondary">Cadastro realizado em: {{cadastro.data_cadastro}}</small>
        <small class=" text-muted fw-bold">Cadastrador: <span
            class="text-uppercase ">{{cadastro.responsavel_cadastro}}</span></small>
      </div>
    </div>
    <div class="d-flex w-100 justify-content-between mt-1">
      <div class="d-flex flex-column align-items-start">
    <p class="mb-1">{%if cadastro.responsavel.sexo == "Feminino"%}Moradora{%else%}Morador{%endif%} do Bairro: {{cadastro.endereco.bairro}}
      <a href="{% url 'editar_endereco' cadastro.endereco.id %}" class="link-warning mt-2 btn-sm d-print-none">
        <i class="bi bi-pencil"></i>
      </a>
    </p>
    <p class="mt-0">
      {% if cadastro.endereco.logradouro %}
      {{cadastro.endereco.logradouro}},
      {% endif %}
      {% if cadastro.endereco.numero %}
      nº {{cadastro.endereco.numero}}
      {% endif %}
      {% if cadastro.endereco.ruc != "Nenhum" %}- RUC {{cadastro.endereco.get_ruc_display}}
      {% endif %}

    </p>
      </div>
      <div class="d-flex flex-column align-items-end">
         <small class="text-secondary ">Abrangência: {{cadastro.abrangencia}}</small>
      </div>
    </div>
    <hr class="my-1 py-1">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start pb-3 ">
      <button class="btn btn-primary me-md-2 btn-sm" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseComposicao{{cadastro.id}}">
        <i class="bi bi-people align-middle" style="font-size: 1.25rem;"></i><span class="align-middle mx-1">Composição
          Familiar</span>
      </button>

      <button class="btn btn-primary me-md-2 btn-sm" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePerfil{{cadastro.id}}">
        <i class="bi bi-graph-up align-middle" style="font-size: 1.25rem;"></i><span class="align-middle mx-1">Dados
          Socioeconômicos</span>
      </button>

      <a class="btn btn-primary me-md-2 btn-sm" type="button" href="{% url 'exibir_dados_cadastro' cadastro.id%}">
        <i class="bi bi-journal-text align-middle" style="font-size: 1.25rem;"></i>
        <span class="align-middle mx-1">Ver Todos os Dados</span>
      </a>
      {% if cadastro.disparidades or cadastro.ausencia %}
      <button class="btn btn-warning me-md-2 btn-sm" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapsePendencias{{cadastro.id}}">
        <i class="bi bi-exclamation-diamond align-middle" style="font-size: 1.25rem;"></i><span
          class="align-middle mx-1">Pendências</span>
      </button>

      {%endif%}
    </div>


    <!-- conteudo oculto-->
    <div class="collapse my-1  " id="collapseComposicao{{cadastro.id}}">
      <div class="card-header text-center " style="background:#efefef;">
        <h5 class="card-title">Composição Familiar</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-light  table-striped">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Parentesco</th>

              <th scope="col">Idade</th>

              <th scope="col">Sexo</th>
              <th scope="col">CPF</th>
              {%comment%}
              <th scope="col">Situação de Trabalho</th>
              <th scope="col">Escolaridade</th>
              {%endcomment%}
              <th scope="col">Contato</th>
              <th scope="col"></th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-nowrap mx-3">{{cadastro.responsavel.nome}}</td>
              <td>Referência Familiar</td>

              <td>{{cadastro.responsavel.idade}}</td>

              <td>{{cadastro.responsavel.sexo}}</td>
              {% if cadastro.responsavel.cpf %}
              <td class="text-nowrap">{{cadastro.responsavel.cpf}}</td>
              {% else %}
              <td class="text-center">-</td>
              {% endif %}
              {%comment%}
              <td>{{cadastro.responsavel.trabalho}}</td>
              <td class="text-nowrap">{{cadastro.responsavel.escolaridade}}</td>
              {%endcomment%}
              {% if cadastro.responsavel.contato %}
              <td class="text-nowrap">{{cadastro.responsavel.contato}}</td>
              {% else %}
              <td class="text-center">-</td>
              {% endif %}
              <td>
                <a href="{% url 'editar_referencia' cadastro.responsavel.id %}"
                  class="link-warning mt-2 btn-sm d-print-none">
                  <i class="bi bi-pencil fs-5"></i>
                </a>
              </td>
              <th></th>
            </tr>
            {% for membro in cadastro.lista_membros %}
            <tr>
              <td>{{membro.nome}}</td>
              <td>{{membro.parentesco}}</td>

              <td>{{membro.idade}}</td>

              <td>{{membro.sexo}}</td>
              {% if membro.cpf %}
              <td class="text-nowrap">{{membro.cpf}}</td>
              {% else %}
              <td class="text-center">-</td>
              {% endif %}
              {%comment%}
              <td>{{membro.trabalho}}</td>
              <td>{{membro.escolaridade}}</td>
              {%endcomment%}
              {% if membro.contato %}
              <td>{{membro.contato}}</td>
              {% else %}
              <td class="text-center">-</td>
              {% endif %}
              <td>
                <a href="{%url 'editar_membro' membro.id%}" class="link-warning mt-2 btn-sm d-print-none">
                  <i class="bi bi-pencil fs-5"></i>
                </a>
              </td>
              <td>
                <a href="{%url 'excluir_membro' membro.id%}" class="link-danger mt-2 btn-sm d-print-none">
                  <i class="bi bi-trash fs-5"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="12" class="text-center">
                <a href="{%url 'adicionar_membro' cadastro.id%}"
                  class="btn btn-outline-secondary mt-2 btn-sm d-print-none">
                  <i class="bi bi-plus-circle fs-6"></i>
                  Adicionar Membro
                </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="collapse my-1" id="collapsePerfil{{cadastro.id}}">
      {%if cadastro.habitacao%}
      <div class="card-header text-center " style="background:#efefef;">
        <h5 class="card-title">Perfil Socieconômico</h5>
      </div>

      <div class="card-body">
        <h5 class="card-title pt-2">Informações de Infraestrutura <a
            href="{% url 'editar_habitacao' cadastro.habitacao.id %}" class="link-warning  mt-2 px-2 "><i
              class="bi bi-pencil "></i></a></h5>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 d-flex justify-content-between mb-2">
          <div class="col d-flex align-items-start ">
            <p class="fw-bold">
              Situação da Moradia:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.get_situacao_moradia_display}}

            </p>
          </div>
          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Tipo de Construção:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.get_tipo_construcao_display}}
            </p>
          </div>

          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Possui Energia Elétrica:
            </p>
            <p class="ms-2 text-nowrap">
              {{cadastro.habitacao.get_rede_eletrica_display}}

            </p>
          </div>

          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Abastecimento de Água:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.get_possui_abastecimento_display}}

            </p>
          </div>

          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Possui Rede de Esgoto:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.get_possui_rede_esgoto_display}}

            </p>
          </div>

          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Coleta de Lixo:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.get_possui_coleta_display}}

            </p>
          </div>
          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Pavimentação da Rua:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.get_pavimentacao_display}}

            </p>
          </div>
        </div>
        <h5 class="card-title pt-4 ">Informações de Moradia</h5>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-start">


          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Número de Moradores:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.numero_moradores}}

            </p>
          </div>
          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Tempo de Ocupação do Imóvel:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.tempo_ocupacao}} Anos
            </p>
          </div>

          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Número de Cômodos da Casa:
            </p>
            <p class="ms-2">
              {{cadastro.habitacao.numero_comodos}}
            </p>
          </div>
        </div>
        <h5 class="card-title pt-4 ">Informações da Renda</h5>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex justify-content-start">

          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Renda Total:
            </p>
            <p class="ms-2 text-nowrap">
              {{cadastro.renda_total|formatar_reais}}
            </p>
          </div>
          <div class="col d-flex justify-content-start">
            <p class="fw-bold">
              Renda Per Capita:
            </p>
            <p class="ms-2 text-nowrap">
              {{cadastro.renda_per_capita|formatar_reais}}
            </p>
          </div>
        </div>
        <div class="row pt-2 pb-0 mb-0 ">
          <div class="d-grid gap-2 col-4 mx-auto">

          </div>


        </div>
      </div>
      {%else%}
      <div class="card-header text-center " style="background:#efefef;">
        <a href="{%url 'adicionar_habitacao' cadastro.id%}" class="btn btn-outline-primary mt-2 btn-sm d-print-none">
          <i class="bi bi-plus-circle fs-6"></i>
          Adicionar Dados Habitacionais
        </a>
      </div>
      {%endif%}

    </div>

    <div class="collapse my-1" id="collapsePendencias{{cadastro.id}}">
      <div class="card-header text-center " style="background:#efefef;">
        <h5 class="card-title">Pendências</h5>
      </div>
      <div class="card-body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 d-flex">
          {%if cadastro.disparidades%}
          <div class="col d-flex align-items-start">
            <p class="fw-bold">
              Disparidades:
            </p>
            <p class="ms-2">
              {{cadastro.disparidades}}
            </p>
          </div>
          {%endif%}
          </div>
          
          {%if cadastro.ausencia%}
          <p class="fw-bold">
            Dados Ausentes:
          </p>
          <div class="row row-cols-auto g-3">
        
          {%for faltante in cadastro.ausencia %}
          <div class="col rounded border mx-2"> {{faltante}}
          </div>
                                     

          {%endfor%}
          </div>
          {%endif%}
       

      </div>
    </div>


    <!-- <div class="card-group py-2 px-1">

        <div class="card" style="width: 18rem;">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Situação da Moradia:
              <span class="fs-6">{{cadastro.habitacao.get_situacao_moradia_display}}</span>
            </li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Situação da Moradia:
              <span class="fs-6">{{cadastro.habitacao.get_situacao_moradia_display}}</span>
            </li>
          </ul>
        </div>
      </div> -->

  </div>
  {% empty %}
  <h6>
    Nenhum cadastro Encontrado
  </h6>

  {%endfor%}

</div>
<hr>
{% if page_obj.has_next or page_obj.has_previous %}
<nav aria-label="Page navigation  ">
  <ul class="pagination  justify-content-center  ">
    {% if page_obj.has_previous %}
    <li class="page-item link-info"><a class="page-link" href="?page=1">Inicio</a></li>

    <li class="page-item me-2">
      <a class="page-link " href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {%for page in page_range %}

    <li class="page-item"><a class="page-link {%if page_obj.number == page%}active {%endif%}"
        href="?page={{page}}">{{page}}</a></li>
    {%endfor%}
    {% if page_obj.has_next %}
    <li class="ms-2 page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Fim</a></li>
    {% endif %}
  </ul>
</nav>
{%endif%}
{% endblock main %}