<div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Position it: -->
    <!-- - `.toast-container` for spacing between toasts -->
    <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
    <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
    <div class="toast-container position-fixed bottom-0 end-0 mb-4 " style="z-index: 11; ">
        <!--Erros do Formulário -->
        {% if messages %}
        {%for mensagem in messages%}
        {%if mensagem.level == 25%}
        <div class="toast show  bg-success text-light " role="alert" aria-live="assertive" aria-atomic="true"
            style="opacity: 0.95;">
            <div class="toast-header text-success">
                <i class="bi bi-check-circle fs-5 me-3"></i>
                <strong class="me-auto">Operação Realizada com Sucesso</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
                {{mensagem}}
            </div>
        </div>
        {%elif mensagem.level == 20%}
        <div class="toast show  bg-info text-dark " role="alert" aria-live="assertive" aria-atomic="true"
            style="opacity: 0.95;">
            <div class="toast-header text-info">
                <i class="bi bi-info-circle fs-5 me-3"></i>
                <strong class="me-auto">Aviso</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
                {{mensagem}}
            </div>
        </div>
        {%elif mensagem.level == 40%}
        <div class="toast show  bg-danger text-light " role="alert" aria-live="assertive" aria-atomic="true"
            style="opacity: 0.95;">
            <div class="toast-header text-danger">
                <i class="bi bi-x-circle fs-5 me-3"></i>
                <strong class="me-auto">Erro na Operação</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
                {{mensagem}}
            </div>
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}

    </div>
</div>