<div aria-live="polite" aria-atomic="true" class="position-relative">
    <!-- Position it: -->
    <!-- - `.toast-container` for spacing between toasts -->
    <!-- - `.position-absolute`, `top-0` & `end-0` to position the toasts in the upper right corner -->
    <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
    <div class="toast-container position-fixed bottom-0 end-0 mb-4 " style="z-index: 11; ">
        <!--Erros do Formulário -->
        {% if messages %}
        {%for erro in messages%}
        <div class="toast show  bg-danger text-light " role="alert" aria-live="assertive" aria-atomic="true"
            style="opacity: 0.95;">
            <div class="toast-header text-danger">
                <i class="bi bi-x-circle fs-5 me-3"></i>
                <strong class="me-auto">Erro na Operação</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
                {{erro}}
            </div>
        </div>
        {%endfor%}
        {%endif%}

        {% for form in forms_generic.values %}
        {% for campo in form %}
        {% if campo.errors %}
        {% for erro in campo.errors %}
        <div class="toast show  bg-danger text-light " role="alert" aria-live="assertive" aria-atomic="true"
            style="opacity: 0.95;">
            <div class="toast-header text-danger">
                <i class="bi bi-x-circle fs-5 me-3"></i>
                <strong class="me-auto">Erro na Operação</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body ">
                {{erro}}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>