<div class="d-flex flex-column flex-md-row align-items-center  px-5 mx-4 pb-2 mb-2 border-bottom">
    <a href="" class="d-flex align-items-center text-dark text-decoration-none">
        {% comment %} <img src="{%static 'img/logo.png' %}" height="48" width="48"> {% endcomment %}
        <span class="ps-2 fs-3 text-uppercase">Programa Bênção</span>
    </a>
    <nav class="d-md-inline-flex  align-items-center mt-1 mt-md-0  ms-md-auto ">
        <a class="me-3 my-3 py-2 btn btn-outline-dark {%if request.path == '/'%} active {%endif%}" href="{% url 'home' %}" id="nav-home">
            Home
        </a>
        {%if request.user.is_anonymous%}
        <a class="me-3 py-2 my-2 my-sm-1 btn btn-outline-dark  {%if '/login/entrar/' in request.path %} active {%endif%}"
           href="{% url 'logar_usuario' %}">
            Logar-se
        </a>
        <a class="me-3 py-2 my-2 my-sm-1 btn btn-outline-dark {%if '/login/registrar/' in request.path %} active {%endif%}"
           href="{% url 'criar_usuario' %}">
            Cadastrar-se
        </a>
        {%else%}


        <a class="me-3 py-2 my-2 my-sm-1 btn btn-outline-dark  {%if '/cadastros/' in request.path %} active {%endif%}"
           href="{% url 'listar_cadastros' %}" id="nav-cadastros">
            Cadastros
        </a>

        <a class="me-3 py-2 my-2 my-sm-1 btn btn-outline-dark  {%if '/dados/' in request.path %} active {%endif%}"
           href="{% url 'dados_tabelas' %}" id="nav-dados">
            Dados
        </a>
        <a class="me-3 py-2 my-2 my-sm-1 btn btn-outline-dark  {%if '/alteracoes/' in request.path %} active {%endif%}"
           href="{% url 'lista_alteracoes' %}" id="nav-alteracoes">
            Alterações
        </a>
        <div class="btn-group">
            <button type="button" class="me-3 py-2 my-2 my-sm-1 btn btn-outline-dark dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user}}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'dados_tecnico' request.user.id %}" class="dropdown-item">
                        <i class="bi bi-person-circle align-middle"></i>
                        <span class="align-middle mx-1">Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'deslogar' %}" class="dropdown-item">
                        <i class="bi bi-person-x-fill align-middle"></i>
                        <span class="align-middle mx-1">Deslogar</span>
                    </a>
                </li>
            </ul>
        </div>
        {%endif%}
    </nav>
</div>