{%load static %}
{% load tags_users %}
<style>
.btn-outline-personal {
  color: #0000A3;
  border: solid 1px #0000A3;
   /* Prevent inheritance from `body` */
}
.btn-outline-personal:hover,btn-outline-personal.hover {
  color: #fff;
  background-color: #1679CB;
  border: solid 1px #1679CB;
   /* Prevent inheritance from `body` */
}
.active {
  color: #fff !important;
  background-color: #0067B3 !important ;
  border: solid 1px #0067B3 !important;
   /* Prevent inheritance from `body` */
}
</style>
<div class="d-flex flex-column flex-md-row align-items-center  px-5 mx-4 pb-2 mb-2 border-bottom">
    <a href="" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="{%static 'img/logo2.png' %}" height="64" width="64">
        <span class="ps-2 fs-3 text-uppercase">Programa Bênção</span>
    </a>
    <nav class="d-md-inline-flex  align-items-center mt-1 mt-md-0  ms-md-auto ">
        <a class="mx-2 my-3 py-2 btn btn-outline-personal {%if request.path == '/'%} active {%endif%}" href="{% url 'home' %}" id="nav-home">
            Home
        </a>
        {%if request.user.is_anonymous%}
        <a class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal text-opacity-50 {%if '/login/entrar/' in request.path %} active {%endif%}"
           href="{% url 'logar_usuario' %}">
            Logar-se
        </a>
        <a class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal {%if '/login/registrar/' in request.path %} active {%endif%}"
           href="{% url 'criar_usuario' %}">
            Cadastrar-se
        </a>
        {%else%}


        <a class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal  {%if '/cadastros/' in request.path %} active {%endif%}"
           href="{% url 'listar_cadastros' %}" id="nav-cadastros">
            Cadastros
        </a>

        <a class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal  {%if '/dados/' in request.path %} active {%endif%}"
           href="{% url 'dados_tabelas' %}" id="nav-dados">
            Dados
        </a>
        <a class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal  {%if '/alteracoes/' in request.path %} active {%endif%}"
           href="{% url 'lista_alteracoes' %}" id="nav-alteracoes">
            Alterações
        </a>
        {%if request.user.id|is_supervisor%}
        <a class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal  {%if '/tecnico/equipe/' in request.path %} active {%endif%}"
           href="{% url 'equipe_tecnica' %}" id="nav-alteracoes">
            Equipe
        </a>
        {%endif%}
        <div class="btn-group">
            <button type="button" class="mx-2 py-2 my-2 my-sm-1 btn btn-outline-personal dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user}}
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'dados_tecnico' request.user.id %}" class="dropdown-item">
                        <i class="bi bi-person-circle align-middle"></i>
                        <span class="align-middle mx-2">Perfil</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'deslogar' %}" class="dropdown-item">
                        <i class="bi bi-person-x-fill align-middle"></i>
                        <span class="align-middle mx-2">Deslogar</span>
                    </a>
                </li>
            </ul>
        </div>
        {%endif%}
    </nav>
</div>