<!-- {% extends 'base.html' %}
{% block add_componentes %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
            // Define the chart to be drawn.
            
        var data = google.visualization.arrayToDataTable([
            [{ label: 'Bairro', type: 'string' },
            { label: 'Cadastros', type: 'number' }],
            {% for bairro, inscritos in dados.items %}
                ['{{ bairro }}', {{ inscritos }}],
            {% endfor %}
        ]);
   

    var options = {
      title: 'My Daily Activities'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
  }
</script>
{% endblock add_componentes %}
{% block main %}
<div id="piechart" style="width: 900px; height: 500px;"></div>
{% endblock main %}


 -->
