{% extends 'base.html' %}
{% load filtros %}
{% block title %}Exclusão de Dados{% endblock title %}
{% block barra_titulo %}
<div class="row align-items-center justify-content-content-between ">

    <div class="col-6 ">
        <h5 class="card-title ">Excluir Dados</h5>
    </div>
    <div class="col d-flex align-items-center justify-content-end">
        <div class="mx-1 ">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
    
            </div>
          </nav>
    
        </div>
        <div class="mx-2">
    
    
        </div>
      </div>

</div>

{% endblock barra_titulo %}
{% block main %}
{% include 'modelos/mensagens_sucesso.html' %}

    <div class="card">
            <div class="card-header text-center">
                <h3>Referência Familiar</h3>
            </div>
    
        <div class="card-body ">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xs-1  row-cols-auto g-3">
            
                <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="bg-secondary p-2  border border-secondary  rounded-start" style="--bs-bg-opacity: .5;">Nome:</span>
                        <span class=" bg-light p-2  border border-secondary   rounded-end">{{dados_cadastro.responsavel_familiar.nome}}</span>
                    </div>
                </div>
            
                <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="bg-secondary p-2  border border-secondary  rounded-start" style="--bs-bg-opacity: .5;">Bairro:</span>
                        <span class=" bg-light p-2  border border-secondary   rounded-end">{{dados_cadastro.endereco.bairro}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    <div class="card my-2">
        <a class=" text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapseMembro{{mebro.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            <div class="card-header text-center">
                <h3>Dados Que Serão Excluídos</h3>
            </div>
          </a>
        <div class="collapse show" id="collapseMembro{{mebro.id}}">
        
            <div class="card-body ">
            <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1  row-cols-auto g-3">
                {%for chave, valor in dados_membro.all_data.items %}
                
                <div class="col">
                    <div class="input-group flex-nowrap">
                        <span class="bg-secondary p-2  border border-secondary  rounded-start" style="--bs-bg-opacity: .5;">{{chave}}:</span>
                        <span class=" bg-light p-2  border border-secondary   rounded-end">{{valor}}</span>
                    </div>
                </div>
                {%endfor%}
                
            </div>
        </div>
        </div>
        <div class="card-footer   text-center">
            <div class="d-grid gap-2 col-4 mx-auto">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir</button>
                {%if id_cancelar%}
                <a href="{% url 'listar_cadastros' id_cancelar %}"  class="btn btn-warning ">Cancelar</a>
                {%else%}
                <a href="{% url 'listar_cadastros'%}"  class="btn btn-warning ">Cancelar</a>
                
                {%endif%}
            </div>
        </div>
    </div>
  

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Dados</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p> Todos os Dados de {{dados_membro.nome}} serão excluídos permanentemente.</p>
              <p> Essa opção não pode ser revertida, deseja
              Proseguir?</p>
            </div>
            <div class="modal-footer">
                <form method="post">
                    {%csrf_token%}
                {%if id_cancelar%}
                <a href="{% url 'listar_cadastros' id_cancelar %}"  class="btn btn-warning ">Cancelar</a>
                {%else%}
                <a href="{% url 'listar_cadastros'%}"  class="btn btn-warning ">Cancelar</a>
                
                {%endif%}
              <button type="submit" class="btn btn-danger" name="confirmar">Confirmar Exclusão</button>
            </form>
            </div>
          </div>
        </div>
      </div>   
{% endblock main %}