<div class="card {%if forloop.first%} mb-1 {%else%} mt-3 {%endif%}  ">
    <a class=" text-decoration-none text-dark" data-bs-toggle="collapse" href="#collapseMembro{{membro.id}}"
        role="button" aria-expanded="false" aria-controls="collapseExample">
        <div class="card-header text-center">
            <h5>Membro #{{forloop.counter}}</h5>

        </div>
    </a>

    <div class="collapse show" id="collapseMembro{{membro.id}}">
        <div class="card-body ">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <h5 class="text-center">Dados Pessoais</h5>
                    <a href="{%url 'editar_membro' membro.id%}" class="link-warning btn-sm d-print-none">
                        <i class="bi bi-pencil fs-5"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-xs-1  row-cols-auto g-3">
                        {%for chave, valor in membro.all_data.items %}
                        {%include 'cadastros/modelo_dados_chave_valor.html'%}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%if membro.dados_educacionais%}
            <div class="card mb-3 mt-2">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <h5 class="text-center">Dados Educacionais</h5>
                    <a href="{% url 'editar_educacao' cadastro.id membro.dados_educacionais.id %}"
                        class="link-warning btn-sm d-print-none">
                        <i class="bi bi-pencil fs-5"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-xs-1  row-cols-auto g-3">
                        {%for chave, valor in membro.educacao_all_data.items %}
                        {%include 'cadastros/modelo_dados_chave_valor.html'%}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
            {% if membro.dados_saude %}
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <h5>Dados de Saúde</h5>
                    <a href="{% url 'editar_saude' cadastro.id cadastro.responsavel.dados_saude.id %}"
                        class="link-warning btn-sm d-print-none">
                        <i class="bi bi-pencil fs-5"></i>
                    </a>
                </div>
                <div class="card-body ">
                    <div class="row row-cols-md-3 row-cols-sm-2 row-cols-xs-1  row-cols-auto g-3">
                        {%for chave, valor in cadastro.responsavel.saude_all_data.items %}
                        {%include 'cadastros/modelo_dados_chave_valor.html'%}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
        <div class="card-footer">
            {%if not membro.dados_educacionais %}
            <a class="btn btn-primary me-md-2 btn-sm" type="button"
                href="{% url 'adicionar_educacao' cadastro.id membro.id%}">
                <i class="bi bi-journal-plus align-middle" style="font-size: 1.25rem;"></i>
                <span class="align-middle mx-1">Adicionar Dados Educacionais</span>
            </a>
            {%endif%}
            {%if not membro.dados_saude %}
            <a class="btn btn-primary me-md-2 btn-sm" type="button"
                href="{% url 'adicionar_saude' cadastro.id membro.id%}">
                <i class="bi bi-journal-plus align-middle" style="font-size: 1.25rem;"></i>
                <span class="align-middle mx-1">Adicionar Dados Saúde</span>
            </a>
            {%endif%}
        </div>
    </div>
</div>