{% extends 'base.html' %}
{% block main %}

{%if dados_modificacoes %}
<div class="card bg-transparent my-2">
<div class="card-header">
    <h5 class="text-center card-title fw-bold my-2">Histórioco de Alterações</h5>
</div>
</div>

    <div class="table-responsive overflow-auto " style="height: 36rem;">
        <table class="table  table-hover bg-dark table-bordered ">
            <thead class="sticky-top table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo de Ação</th>
                <th scope="col">Responsável</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody class="">
            {%for modificacao in dados_modificacoes%}
            <tr class="{%if modificacao.tipo_acao == 'Adição' %} table-success {% elif modificacao.tipo_acao == 'Edição' %} table-warning {%else%} table-danger {%endif%} border-dark">
                <th scope="row">{{forloop.counter}}</th>
                <td>{{modificacao.tipo_acao}}</td>
                <td>{{modificacao.responsavel}}</td>
                <td>{{modificacao.data_modificacao}}</td>
                <td>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseData{{modificacao.id}}" aria-expanded="false"
                            aria-controls="collapseExample">
                        ver modificações
                    </button>
                </td>
            </tr>
            <!--            <div id="collapseData{{modificacao.id}}" class="collapse collapse-horizontal">-->
            <tr id="collapseData{{modificacao.id}}"
                class="collapse  collapse-horizontal {%if modificacao.tipo_acao == 'Adição' %} table-success {% elif modificacao.tipo_acao == 'Edição' %} table-warning {%else%} table-danger {%endif%}">
                <td colspan="5" class="px-3 mx-3 ">
                    {%if modificacao.campos_modificados %}
                    <table class="table table-dark table-bordered my-0 py-0">
                        <thead class="sticky-top table-dark ">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Dado Alterado</th>
                            <th scope="col">Valor Antigo</th>
                            <th scope="col">Novo Valor</th>

                        </tr>
                        </thead>
                        <tbody class="">
                        {%for alteracoes_data in modificacao.campos_modificados %}
                        <tr class="table-dark opacity-75">
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{alteracoes_data.campo}}</td>
                            <td>{{alteracoes_data.antigo_valor}}</td>
                            <td>{{alteracoes_data.novo_valor}}</td>
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                    {%endif%}
                </td>
            </tr>
            <!--                </div>-->


            {%endfor%}
            </tbody>
        </table>
    </div>
{%else%}
<div class="card bg-transparent my-2">
<div class="card-header">
    <h5 class="text-center card-title fw-bold my-2">Não Há Histórioco de Alterações</h5>
</div>
</div>
{%endif%}


{% endblock main %}