<form class="d-flex row  align-items-center justify-content-center gy-2 gy-sm-1 gy-md-0 gy-lg-1 gy-xl-1 gy-xxl-0 py-0  " method="post">
    {% csrf_token %}
  
    <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2 col-12">
  
      <div class="form-floating  ">
        <select class="form-select rounded" aria-label="Default select example"
          name="cras">
          <option selected>-------</option>
          <option {%if cras == '1' %} selected  {%endif%}value="1">CRAS I</option>
          <option {%if cras == '2' %} selected  {%endif%} value="2">CRAS II</option>
          <option {%if cras == '3' %} selected  {%endif%} value="3">CRAS III</option>
        </select>
        <label for="floatingSelect" >Abrangência</label>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-12">
  
      <div class="form-floating ">
        <select class="form-select rounded" aria-label="Default select example"
          name="ruc">
          <option selected>-------</option>
          <option {%if ruc == '1' %} selected  {%endif%} value="1">Nenhum</option>
          <option {%if ruc == '2' %} selected  {%endif%} value="2">Água Azul</option>
          <option {%if ruc == '3' %} selected  {%endif%} value="3">Jatobá</option>
          <option {%if ruc == '4' %} selected  {%endif%} value="4">São Joaquim</option>
          <option {%if ruc == '5' %} selected  {%endif%} value="5">Casa Nova</option>
          <option {%if ruc == '6' %} selected  {%endif%} value="6">Laranjeiras</option>
          <option {%if ruc == '7' %} selected  {%endif%} value="7">Tavaquara</option>
        </select>
        <label for="floatingSelect">Ruc</label>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-xxl-3 col-12">
      <div class="form-floating">
  
        <input class="form-control   rounded " list="datalistOptions" id="bairroDataList" placeholder="Buscar por Bairro"
           autocomplete="off" name="bairro" {%if bairro_busca %} value="{{bairro_busca}}" {%endif%}>
        <label for="floatingSelect">Bairro</label>
        <datalist id="datalistOptions">
          {% for bairro in lista_bairros %}
          <option value="{{bairro}}">
  
            {%endfor%}
        </datalist>
  
      </div>
    </div>
    
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 col-12">
      <div class="input-group">
        <div class="form-floating ">
          <input class="form-control rounded " value="{{busca}}" id="busca" name="busca" type="search" placeholder="Nome ou CPF" aria-label="Search">
          <label for="floatingInput">Nome ou CPF</label>
      </div>
    <button class="btn btn-outline-primary mx-2 rounded" type="submit" id="button-busca"><i
            class="bi bi-search mx-1"></i>Buscar</button>
  
  </div>
      <div class="input-group">
  
      </div>
  
      </div>
  </form>
  <div class="row row-cols-auto mt-2 gy-2 gx-0 justify-content-center">
    <div class="col">
      <a class="btn  btn-secondary btn-sm mx-1" href="{% url 'listar_cadastros'%}">Todos</a>
    </div>
    {%for letra, argumento in alfabeto.items%}
    <div class="col">
      <a class="btn {%if argumento in request.path %} btn-dark {%else%} btn-secondary{%endif%} btn-sm mx-1"
        href="{% url 'listar_cadastros' argumento%}">{{letra}}</a>
    </div>
    {%endfor%}
  </div>