{% extends 'base.html' %}
{% load filtros %}
{% load tags_users %}
{% block title %}Equipe Técnica{% endblock title %}
{% block barra_titulo %}

<h5 class="card-title mx-2">Equipe Técnica</h5>

{% endblock barra_titulo %}
{% block main %}

<div class="row row-cols-1 mx-3  g-3">
    {%for tecnico in tecnicos%}
    <div class="col">
        <div class="card  h-100 bg-light text-muted {{tecnico.id|estilo_tec_card}}">
            <div class="card-header mb-1 {{tecnico.id|estilo_tec_card}} ">
                <h5 class="card-title text-dark">{{tecnico}}</h5>
            </div>
            <div
                class=" card-body  row row-cols-md-2 row-cols-lg-3 row-cols-1 d-flex py-1 justify-content-start align-items-baseline">
                <div class="col d-flex">
                    <p class="card-text">Órgão: </p>
                    <p class="card-text ps-2">{{tecnico.orgao}}</p>
                </div>
                <div class="col d-flex">
                    <p class="card-text">Cargo: </p>
                    <p class="card-text ps-2">{{tecnico.cargo}}</p>
                </div>
                {%if supervisor%}
                <div class="col d-flex">
                    <p class="card-text">E-mail: </p>
                    <p class="card-text ps-2">{{tecnico.usuario.email}}</p>
                </div>
                <div class="col d-flex">
                    <p class="card-text">Contato: </p>
                    <p class="card-text ps-2">{%if tecnico.contato%}{{tecnico.contato}}{%else%}Não Informado{%endif%}
                    </p>
                </div>
                {% if tecnico.cadastro_pendente and not tecnico.usuario.is_active%}
                <div class="col-12 d-flex">
                    <p class="card-text">Situação: </p>
                    <p class="card-text ps-2">Pendente, Não Autorizado</p>
                </div>

                {% elif not tecnico.cadastro_pendente and not tecnico.usuario.is_active %}
                <div class="col-12 d-flex">
                    <p class="card-text">Situação: </p>
                    <p class="card-text ps-2">Desativado</p>
                </div>
                {%else%}
                <div class="col-12 d-flex">
                    <p class="card-text">Situação: </p>
                    <p class="card-text ps-2">Ativo</p>
                </div>
                {%endif%}

                {%endif%}
            </div>
            <div class="card-footer  {{tecnico.id|estilo_tec_card}}">
                <div class=" pt-2 d-grid gap-2 d-md-flex justify-content-md-start pb-3 ">
                    {%if tecnico.usuario.is_active %}
                    {%if not tecnico.usuario.id|is_supervisor%}
                    <button class="btn btn-outline-danger me-md-2 btn-sm" type="button" data-bs-toggle="modal"
                        data-bs-target="#desativarModal" data-bs-whatever="{{tecnico}}" data-bs-id="{{tecnico.id}}">
                        <i class="bi bi-x-circle align-middle" style="font-size: 1.25rem;"></i><span
                            class="align-middle mx-1">Desativar</span>
                    </button>
                    {%endif%}
                    {%else%}
                    {%if tecnico.cadastro_pendente and not tecnico.usuario.is_active%}
                    <button class="btn btn-outline-success me-md-2 btn-sm" type="button" data-bs-toggle="modal"
                        data-bs-target="#ativarModal" data-bs-whatever="{{tecnico}}" data-bs-id="{{tecnico.id}}">
                        <i class="bi bi-check-circle align-middle" style="font-size: 1.25rem;"></i><span
                            class="align-middle mx-1">Ativar</span>
                    </button>
                    {% else %}
                    <button class="btn btn-outline-success me-md-2 btn-sm" type="button" data-bs-toggle="modal"
                        data-bs-target="#ativarModal" data-bs-whatever="{{tecnico}}" data-bs-id="{{tecnico.id}}">
                        <i class="bi bi-check-circle align-middle" style="font-size: 1.25rem;"></i><span
                            class="align-middle mx-1">Reativar</span>
                    </button>

                    {%endif%}
                    {%endif%}

                </div>

            </div>
        </div>
    </div>
    {%endfor%}
</div>


<div class="modal fade" id="desativarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="formdesativarModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post">
                {%csrf_token%}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Desativar Usuário</h5>
                    
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p for="recipient-name">Ao Continuar, você irá:</p>
                        <ul>
                            <li>
                                Remover a Permissão de acesso desse Técnico ao Sistema.
                            </li>
                            <li>
                                Manter todos os dados vínculado a este Técnico.
                            </li>

                        </ul>
                        <input class="d-none" type="text" name="id_tecnico">


                    </div>

                </div>
                <div class="modal-footer">
                    <a href="{%url 'equipe_tecnica'%}" class="btn btn-warning">Cancelar</a>
                    <button type="submit" name="desativar" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="ativarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="formativarModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post">
                {%csrf_token%}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ativar Técnico</h5>
                    {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button> {% endcomment %}
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p for="recipient-name">Existem duas classes de Técnicos:</p>
                        <p for="recipient-name">Os Agentes, estes podem:</p>
                        <ul>
                            <li>
                                Cadastrar Familias.
                            </li>
                            <li>
                                Realizar qualquer alteração.
                            </li>

                        </ul>
                        <p for="recipient-name">Os Supervisores além das atividades dos Técnicos, podem:</p>
                        <ul>
                            <li>
                                Autorizar Novos Técnicos e Supervisores.
                            </li>
                            <li>
                                Desativar Técnicos.
                            </li>
                            <li>
                                Excluir novos Usuários não ativos.
                            </li>
                         
                        </ul>
                        <p for="recipient-name">Alternativamente você pode excluir esse novo usuario caso não reconheça
                            como técnico da organização</p>

                        <div class="row">
                            <input class="d-none" type="text" name="id_tecnico">
                            <div class="col-8">
                                <label class="form-label">Escolha Uma opção</label>
                                <select class="form-select  mb-3" id="escolha" aria-label=".form-select-lg example"
                                    name="escolha" required="escolha">
                                    <option value="1">Agente</option>
                                    <option value="2">Supervisor</option>
                                    <option value="3">Excluir</option>
                                </select>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <a href="{%url 'equipe_tecnica'%}" class="btn btn-warning">Cancelar</a>
                    <button type="submit" name="decidir" class="btn btn-primary">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    var exampleModal = document.getElementById('ativarModal')
    var exampleModal2 = document.getElementById('desativarModal')

    exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        var inputID = button.getAttribute('data-bs-id')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        console.log(inputID)
        var modalTitle = exampleModal.querySelector('.modal-title')
        var modalBodyInput = exampleModal.querySelector('.modal-body input')
        modalBodyInput.value = inputID
        modalTitle.textContent = 'Ativar ' + recipient

    });

    exampleModal2.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-bs-* attributes
        var recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an AJAX request here
        // and then do the updating in a callback.
        //
        // Update the modal's content.
        var inputID = button.getAttribute('data-bs-id')
        var modalTitle = exampleModal2.querySelector('.modal-title')
        console.log(inputID)
        var modalBodyInput = exampleModal2.querySelector('.modal-body input')
        modalBodyInput.value = inputID
        modalTitle.textContent = 'Desativar ' + recipient
    })
</script>


{% endblock main %}